<!DOCTYPE html>
<html>
  <head>
    <title>Esite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
    <div id ="page_nav">
        <%= link_to "Arzelia", root_path,:class => 'brandName', :style => 'font-family: cursive; font-size: 30px; text-align:left; padding-top: 20px;'  %>
        <%= link_to "Shop",  products_path %>
        <%= link_to "About", page_about_path %>
        <%= link_to "FAQS", page_faqs_path %>
        <%= link_to "Contact", page_contact_path %>
      </div>


<div id="sign_in">
  <%= link_to "Shopping Cart", cart_path %>
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
        </div>
      </div>
  </nav>
<div class="hashtagflash">
  <div class="flashmessage">
<h1> Tag us on Instagram #Arzelia</h1>
</div>
</div>
  <div id="slider">
    <figure>
          <!-- <img> <%= image_tag("silk.png") %></img>
    <img> <%= image_tag("ownthenight.png") %></img> -->
    <img src="http://images.contentful.com/xrqt4fyyv2yx/4M8YJhjQtqc2CMScsKcCoG/e1d58fd5515f9321ef58f04c5a668bcd/161026_Spread_1st-module__primary_BlackDahlia_2800x1380.jpg?fl=progressive&w=1400&q=40" >
    <img src="http://www.fashiongonerogue.com/wp-content/uploads/2015/11/Gothic-Outfits-Nasty-Gal-Lookbook01.jpg" alt="Space">
    <img src="http://assets7.pop-buzz.com/2016/42/courtney-love-nasty-gal-clothing-line-1476964001-responsive-large-0.png" alt="Space">
    <img src="https://static1.squarespace.com/static/55abd526e4b048cfac1ddf91/565f6355e4b0acd8ed2acbdb/565f6359e4b0a69070fc0235/1449091930210/Gothic-Outfits-Nasty-Gal-Lookbook06.jpg" alt="Space">
    <img src="http://cdn.foreverboho.com/uploads/2015/12/Gothic-Outfits-Nasty-Gal-Lookbook02.jpg" alt="Space">
  <!-- <h1 class="slidercaption">Shop Now </h1> -->

  </figure>
  <figcaption><%= link_to "Shop Now",  products_path, :style => 'color: white; text-decoration: none; background-color: transparent;' %></figcaption>
  </div>

<div class="main_wrap container-fluid">




    <%= yield %>

</div>

<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
  </body>
  <div class="container-fluid IG clearfix">
    <div> Follow Us On Instagram </div>


            <blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:320px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.4866595518% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BMUTl2mhxxx/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by SORELLA (@sorellaboutique)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-11-02T18:08:59+00:00">Nov 2, 2016 at 11:08am PDT</time></p></div></blockquote>
  <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
  </div>
  <div class="emails">


<form class="form-inline">
  <div class="form-group">
      <label class="emailSign" for="exampleInputEmail2">Sign Up For Email Updates</label>
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Your Email Address">
  <button type="submit" class="btn btn-primary joinemail">Join</button>
    </div>

  </form>
  </div>
  <div class="container footer">

      <a href="/page/contact">Contact Us</a>
      <a href="/page/about">About</a>
      <a href="#">Careers</a>
      <a href="#">Return Policy</a>

  </div>
</html>
