


<p id="notice"><%= notice %></p>

<!-- <h1 class="productsTitle">Products</h1> -->
<nav class="product-filter">

  <h1>Clothing</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filter by:</label>
      <select>
        <option value="/">All Jackets</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
      </select>
    </div>

  </div>

</nav>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <td><%= product.subcategory %></td>
        <td><%= product.size %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="/cart/<%= product.id %>"> Add to Cart</a></td>
      </tr>
    <% end %>
  </tbody>
</table> -->




    <section class="products">
<% @products.each do |product| %>
      <div class="product-card">
        <div class="product-image">
        <img> <%= image_tag("silk.png") %></img>
        </div>
        <div class="product-info">
          <h5> <%= product.title %></h5>
          <h6><%= product.price %></h6>
        </div>
      </div>
  <% end %>
    </section>



<br>

      <!-- more products -->

<%= link_to 'New Product', new_product_path %>
